@use '../mixins/hover.scss' as *;

.second-button 
{
    border: solid 3px #E7EA5A;
    color: white;
    font-weight: 200;
    font-size: 23px;
    background-color: transparent;
    width: 128px;
    height: 58px;
    border-radius: 24px;
    z-index: 1;

    @include hover {
    border: solid 3px #b8bb29}
}

.first-button {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 23px;
    border: none;
    background-color: #E7EA5A;
    width: 248px;
    height: 58px;
    border-radius: 24px;
     @include hover {
    background-color: #b8bb29;
    }
    z-index:1;
}

.third-button {
    width: 172px;
    height: 58px;
    border-radius: 24px;
    border: none;
    background-color: black;
    color:#E7EA5A ;
    font-size: 23px;
    font-weight: 400;
    @include hover {
        background-color: #E7EA5A;
        color: black;
    }
}
.ver-cursos{
    margin-top: 24px;
}
.apuntate-button {
    margin-top: 24px;
    margin-bottom:80px;
}
.prev {
    border: none;
    
}
.next {
    border:none;
    
}
.shop-button-container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}
.small-button {
    width: 136px;
}

.compra-button{
    width: 258.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom:98px;
    @include hover {
        .carrito {
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
            
        }
    }
}

