.second-button {
    border: solid 3px #E7EA5A;
    color: white;
    font-weight: 200;
    font-size: 23px;
    background-color: transparent;
    width: 128px;
    height: 58px;
    border-radius: 24px;
}
.first-button {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 23px;
    border: none;
    background-color: #E7EA5A;
    width: 248px;
    height: 58px;
    border-radius: 24px;
}
.third-button {
    width: 172px;
    height: 58px;
    border-radius: 24px;
    border: none;
    background-color: black;
    color:#E7EA5A ;
    font-size: 23px;
    font-weight: 400;
}