/* Estilo general para el footer */
.footer {
  background-color: black;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 375px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 24px;
}

.footer-text {
  font-size: 14px;
  font-weight: 500;
  color: #eeeee1;
}
.text-container {
  display: flex;
  gap: 57px;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
}


.text-icon-container {
  display: flex;
  flex-direction: column;
  gap: 88px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 1440px;
    
  }
  .footer-container {
    width: 1440px;
  }
}

@media (hover: hover) {
  .icon-button:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(52%) saturate(1907%) hue-rotate(350deg) brightness(107%) contrast(83%);
  }
  .footer-text:hover{
    color: #E7EA5A;
  }
  .yellow-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
  }
}