/* Estilo general para el footer */
.footer {
    background-color: black; /* Color de fondo del footer */
    padding: 20px;
    text-align: center;
  }
  
  /* Contenedor principal del footer */
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Logo del footer */
  .footer-logo {
    width: 80px;
    margin-bottom: 20px;
  }
  
  /* Contenedor de texto e iconos */
  .text-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Contenedor de enlaces de texto */
  .text-container {
    margin-bottom: 20px;
  }
  
  /* Estilo de los enlaces de texto */
  .footer-text {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
  }
  
  /* Contenedor de iconos */
  .footer-icons {
    display: flex;
    justify-content: center;
  }
  
  /* Estilo de los botones de icono */
  .icon-button {
    margin: 0 10px;
  }
  
  /* Estilo de los iconos */
  .icon {
    width: 24px;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 375px) {
    .footer {
      padding: 10px;
    }
  
    .footer-logo {
      width: 60px;
    }
  
    .footer-text {
      font-size: 12px;
      margin: 8px 0;
    }
  
    .icon {
      width: 20px;
    }
  }
  