.subtitle {
  font-family: 'Ubuntu';
  font-size: 60px;
  font-weight: 500;
  color: black;
  margin: 0;
  text-align: center;
  

}
.formation-description {
  font-size: 23px;
  font-weight: 200;
  font-family: 'Ubuntu';
  color: black;
  text-align: center;
  padding: 0 20px;
  width: 343px;
  margin: 0;
}
.last-paragraph {
  margin-bottom: 0;
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: center;
  margin-bottom:77px;
}
.span {
  color: #eeeee1;
}
