@use '../mixins/responsive.scss' as *;

.subtitle {
  font-family: 'Ubuntu';
  font-size: 60px;
  font-weight: 500;
  color: black;
  margin-top: 62px;
  margin-bottom: 0;
  text-align: center;
  @include responsive(laptop){
    font-family: 'Ubuntu';
    color: rgb(0, 0, 0);
    font-size: 96px;
    font-weight: 700;
    margin-top: 82px;
    text-align: left;
    margin-left: 64px;
  }

}
.formation-description {
  font-size: 23px;
  font-weight: 200;
  font-family: 'Ubuntu';
  color: black;
  text-align: center;
  padding: 0 20px;
  width: 343px;
  margin: 0;
  margin-bottom: 32px;
  @include responsive(desktop){
    width: 1000px;
    text-align: left;
    padding: 0 0;
    font-size:28px;
  }
  
}

.description-container{
  @include responsive(desktop){
    margin-left: 64px;
  }
}
.formation-button-container{
  text-align: center;
  @include responsive (desktop){
    text-align: left;
    margin-left: 64px;
  }
}
.last-paragraph {
  margin-bottom: 0;
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items: left;
  margin-bottom: 0;
}
.span {
  color: #eeeee1;
}
