@use '../mixins/responsive.scss' as *;


.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main {
  background-color: #eeeee1;
  height: auto;
  @include responsive(laptop){
  width: 1440px;
  margin-top: 0;

}
}