.title-button-container {
  margin-top: 233.5px;
  margin-bottom:270px;
  display: flex;
  flex-direction: column;
  gap: 96px;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.title {
  font-family: 'Ubuntu';
  color: white;
  font-size: 96px;
  font-weight: 700;
  margin: 0;
  z-index: 1;
}
.description {
  font-family: 'Ubuntu';
  color: white;
  font-size: 23px;
  font-weight: 400;
  width: 323px;
  margin: 0;
  text-align: center;
  z-index: 1;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.main {
  background-color: #eeeee1;
  height: auto;
}