@use '../mixins/responsive.scss' as *;

.slider-arrows-container {
  display: flex;
  gap: 43px;
  justify-content: center;
  align-items: center;
  @include responsive(desktop){
  justify-content: center;
  
  }
}
.slider {
  width: 227px;
  height: 351px;
  overflow: hidden;
  margin-bottom:64px;
  margin-top:64px;
  @include responsive(desktop){
    justify-content: left;
    width: 1000px;
    height: 351px;
    
    }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.title-course{
  color: black;
  font-size: 30px;
  font-weight: 700;
  margin:0;
  width:343px;
  text-align: center;
  @include responsive (desktop){
    text-align: left;
    font-size: 54px;
    width: 1000px;
    margin-left: 64px;

  }
}
.description-course{
  color: black;
  font-size: 23px;
  font-weight: 200;
  margin:0;
  width:343px;
  text-align: center;
  @include responsive (desktop){
    text-align: left;
    font-size: 28px;
    width: 1000px;
    margin-left: 64px;
  }
}
.course-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:64px;
  @include responsive (desktop){
    display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  }
  
}

.slider-arrows-container-2{
  display: flex;
  gap: 43px;
  justify-content: center;
  align-items: center;
 
}

.slider-2{
  width: 227px;
  height: 351px;
  margin-bottom:64px;
  margin-top:64px;
  border: 1px solid black;
  border-radius: 16px;
}
.img-2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4;
}